.parallax{
    background-image: url(../img/candies-g623ec2e50_1920.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card1{
    margin: 20px;
    border-radius:20px;
    text-align:center;
    width:200px;
	height:500px;
	border:2px solid black;
}
.card2{
    @extend .card1;
    background-color: yellow
}
.card3{
    @extend .card1;
    background-color: orange
}
.card4{
    @extend .card1;
    background-color: aquamarine;
}
.card5{
    @extend .card1;
    background-color: rgb(200, 127, 255);
}
.card6{
    @extend .card1;
    background-color: rgb(127, 255, 244);
}

#enlaceWhatsapp{
    color: greenyellow;
    font-size: 40px;
    position: fixed;
    bottom: 15%;
    right: 10px
}
#productoStyle{
    font-size: 2rem;
    padding-bottom: 10px;
}
.imgLogo{
    padding-left: 50%;
}
.cards{
    display: flex;
    margin: 10px;
}
.botonCarrito{
    padding-bottom: 0 auto;
}
.tituloProducto{
    margin-left: 30px;
    background-color: yellow;
    text-align: center;
}