#resumen {
    grid-area: resumen;
    text-align: map-get($estilos,center);
    background-color: rgb(195, 195, 231);
    padding: 30px;
    }
    .tituloSeccion{
    background-color: rgb(183, 183, 201);
    text-align: center; 
    margin: 20px;
    padding: map-get($estilos,espaciado);   
    }
    .tituloStyle{
        padding: 10px;
        margin: 10px;
        font-size: map-get($estilos,tFuente) ;
    }
    .parrafoStyle1{
        margin-bottom: $margenes;
        font-size: $tamaño-fuentes;
    }
    .parrafoStyle2{
        margin-top: $margenes;
        font-size: $tamaño-fuentes;
    }