@import "mixins";
@import "variables";
@import "mapa";
@import "grillas";
@import "tipografias";
@import "index";
@import "productos";
@import "servicios";
@import "contacto";
@import "ubicación";
@import "media-queries";

*{margin: 0;padding: 0;}

.footerStyle{
    text-align: center;
    background-color: black;
    color: map-get($estilos,white);
    margin-top: 15%;
}

/* Menu Cambios con Boostrap */
.menuStyle{
    margin: 25px;
    width: 95%;
    padding-left: 27%;
&:hover{
    font-size: 20px;
}
}
.menuPages{
    padding-right: 22%;
    margin: 25px;
    width: 95%;
}
/* cambios Boostrap  */

.enlaceStyle{
    text-decoration: none;
    color: white;
    font-size: 30px;
&:hover{
    font-size: 35px;
}
}

#img-header{
    margin-left: 45%;
    width: 100px;
}


/* ANIMACIONES*/

.tituloSeccion {
    @include medidas (100px,100px);
    background-color: green;
    animation-name: un_efecto;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 30s;
    animation-delay: 1s;
    margin-left: 35%;
}     
@keyframes un_efecto {
    0%{ width: 100px; }
    25%{ width: 300px; }
    50%{ width: 200px;
    background-color: red; }
    75%{ width: 300px;}
    100%{ width: 100px;
    background-color:green;}
}
/* ---------------------- */

